
@{
    ViewBag.Title = "NotFound";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <h1>Route @(Context.Request.QueryString["aspxerrorpath"]) could not be found.</h1>
    <a href="/">Go back to home page</a>
</body>
</html>


